h1 {
    font-size: 48px;
    font-weight: 800;
    font-family: Work Sans;
}

.header-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: white;
    border: none;
    /* margin-right: 10px;
    margin-top: 20px; */
    font-size: 18px;
    font-weight: 400;
}

/* nav bar section */
nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.nav-section a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.nav-section img {
    width: 40px;
    height: 20px;
    margin-right: 10px;

}

.nav-section i {
    margin-left: 5px;
}

.follow-nav {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
}

.primary-color {
    color: #FF42A5;
    font-family: Work Sans;
    font-weight: 700;
}

/* header section  */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vmax;
}

.header-container img {
    width: 400px;
}

.primary-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-size: 48px;
    font-family: Work sans;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}



/* We are gamer section  */
.we-are-gamer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    height: 30vmax;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.we-are-gamer img {
    width: 568px;
}

.we-are-gamer div {
    width: 30%;
}

/* Online games section  */
.online-games {
    text-align: center;
    margin-top: 100px;
}

.online-games-card {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.card {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    border-radius: 10px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.315);
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, filter 0.3s;

}

.image-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F948B2;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover img {
    filter: brightness(0.2);
    transform: scale(1.05);
}

.card:hover .image-text {
    opacity: 1;
}

/* play section  */
.play-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    height: 90vh;
}

.play-container {
    width: 35%;
    text-align: right;
}

.play-container2 {
    width: 35%;
    text-align: left;
}

.play-section-img {
    width: 100%;

}

.top-img {
    position: absolute;
    top: 320px;
    right: 430px;
}

.top-img2 {
    position: absolute;
    top: 340px;
    left: 350px;
}

.top-img img {
    width: 80%;
}

.top-img2 img {
    width: 65%;
}

/* more games section  */
.more-games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background: linear-gradient(90deg, rgba(255, 66, 164, 0.281) 13.13%, rgba(255, 66, 164, 0.315) 87.94%);
    border-radius: 10px;
    padding: 20px;
    pad: 10px;
    margin: 50px auto;
    width: 80%;
    /* height: 170px; */
}

.more-games {
    display: flex;
    border-radius: 50px;
    background: #e6e6e6;
    padding: 10px 10px;
    align-items: center;
    height: 60%;
    text-wrap: nowrap;
    transition: transform 0.3s, filter 0.3s;
}
.more-games img{
    margin-right: 10px;
}
.more-games:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
    transform: scale(1.05);
}

/* footer section */
footer{
    background: #0B0223;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-heading img{
    width: 80px;
    height: 40px;
    margin-right: 20px;
}
.footer-link{
    display: flex;
    text-align: center;
    justify-content: center;
    /* text-decoration: none; */
}
.footer-link a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
}